/* src/components/Services.css */

.services-wrapper {
    /* padding: 20px; Adjust padding as needed */
    background-color: black;
    
  }
  
  .services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto; /* Adjust height as needed */
    background-color: black; /* Example background color, adjust as needed */
    margin: 0 auto; /* Center the container horizontally */
    max-width: 1200px; /* Set a max width for better control */
  }
  
  .service-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px; /* Example styling, adjust as needed */
  }
  