/* src/components/Services.css */

/* General Styles */
.services-wrapper {
  padding: 20px;
  background-color: black;
}

.services-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  background-color: black;
  margin: 0 auto;
  max-width: 1200px;
}

.service-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .services-wrapper {
    padding: 10px;
  }

  .services-container {
    flex-direction: column;
    text-align: center;
  }

  .service-image {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
  }
}
